<form action="/calendar_invite/results">
  
  <div>
    <label for="event_name">Name</label>
    <input type="text" name="name" id="event_name">
  </div>

  <div>
    <label for="detail">Details</label>
    <input type="text" name="details" id="detail">
  </div>

  <div>
    <label for="event_location">Location</label>
    <input type="text" name="location" id="event_location">
  </div>

  <div>
    <label for="">Start time</label>
    <input type="datetime-local" name="start_date" id="">
  </div>
  <div>
    <label for="start_time">End time</label>
    <input type="datetime-local" name="end_date" id="start_time">
  </div>
  <button>Generate</button>
</form>

<h1>Event URL</h1>
<div>
  <a href="<%= @invite %>">Invitation</a>
</div>

<h2>Copy me</h2>
<textarea cols="80" rows="5"><%= @invite %></textarea>
